<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div *ngIf="picture">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img [src]="picture.url">
                </div>
                <div class="col right">
                    <h3>Id: </h3>
                    <input type="text" [(ngModel)]="picture.id" id="id" disabled>
                    <h3>Album Id: </h3>
                    <input type="text" [(ngModel)]="picture.albumId">
                    <h3>Title: </h3>
                    <input type="text" id="title" [(ngModel)]="picture.title">
                    <div id="buttons">
                        <button id="btnFinish" class="btn btn-dark" (click)="finish()">Finish</button>
                    </div>
                    <button id="btnBack" class="btn btn-dark" (click)="back()">Back</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>